window#waybar {
  background-color: rgba(0,0,0,0.25);
  border: none;
  color: #ffffff;
}

#tray {
    padding: 0 8px;
    margin: 0 2px;
    background-color: rgba(0,0,0,0.35);
    border-radius: 4px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
